*{
    margin: 0;
    padding: 0;
}

/* home */

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 37% 35% 20%;
}

/* menu superior */

/* slider */

/* contenedor imagenes */

/* footer */

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: rgb(150, 224, 224);
    align-items: center;
    text-align: center;
}


/* about */

/* blog */

/* login */
